@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
.form1,.form2,.form3{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#form1-btn{
    display: block;
    margin: 0 auto;
    width: 5em;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.form1.active{
    display: block;
}